@import "tailwindcss";

:root {
  --font-sarabun: 'Sarabun', sans-serif;

  --foreground-rgb: 30, 32, 30;
  --background-start-rgb: 232, 233, 235;
  --background-end-rgb: 0, 0, 0;

}

body {
  font-family: var(--font-sarabun);
  background: rgb(var(--background-start-rgb)); 

}